* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #f5f5f5;
}

header {
    width: 100%;
    height: 90px;
    background-color: white;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0 80px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.05);
}

.logo {
    display: flex;
    align-items: center;
    gap: 12px;
}

.logo-img {
    width: 80px;
    height: 80px;
    object-fit: contain;
}

.logo-text h2 {
    font-size: 16px;
    color: #1f2937;
    font-weight: bold;
    line-height: 1.2;
}

.logo-text span {
    display: block;
    font-size: 15px;
    color: #1f2937;
    font-weight: bold;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 40px;
}

nav ul li a {
    text-decoration: none;
    color: #555;
    font-size: 17px;
    font-weight: 500;
}

.btn {
    display: inline-block;
    text-decoration: none;

    background-color: #2f5be7;
    color: white;

    padding: 14px 36px;
    border-radius: 12px;
    font-size: 16px;
    font-weight: 600;
}

.hero {
    width: 100%;
    height: 750px;

    background-image: url("Images/banner.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.hero-overlay {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.55);
}

.hero-content {
    position: relative;
    z-index: 1;
    text-align: center;
    color: white;
    max-width: 760px;
    margin-top: 100px;
    padding: 0 20px;
}

.hero-content h1 {
    font-size: 72px;
    font-weight: bold;
    margin-bottom: 25px;
    line-height: 1.1;
}

.hero-content h1 span {
    font-style: italic;
}

.hero-content p {
    font-size: 28px;
    line-height: 1.6;
    color: #e5e7eb;
    margin-bottom: 60px;
}

.hero-btn {
    display: inline-block;
    text-decoration: none;
    background-color: #2f5be7;
    color: white;
    padding: 18px 55px;
    border-radius: 10px;
    font-size: 24px;
    font-weight: 600;
}

.speakers {
    width: 100%;
    background-color: white;
    padding: 80px 0;
}

.speakers h2 {
    text-align: center;
    font-size: 56px;
    color: #111827;
    font-weight: bold;
    margin-bottom: 60px;
}

.speaker-container {
    width: 82%;
    margin: auto;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 28px;
}

.speaker-card {
    background-color: white;
    border: 1px solid #e5e7eb;
    border-radius: 10px;
    overflow: hidden;
}

.speaker-card img {
    width: 100%;
    height: 290px;
    object-fit: cover;
    display: block;
}

.speaker-info {
    padding: 18px;
}

.category {
    display: block;
    color: #2f5be7;
    font-size: 11px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.speaker-info h3 {
    font-size: 30px;
    color: #111827;
    margin-bottom: 10px;
}

.speaker-info p {
    font-size: 16px;
    color: #6b7280;
}

.pricing {
    width: 100%;
    background-color: white;
    padding: 100px 0;
}

.pricing h2 {
    text-align: center;
    font-size: 48px;
    color: #111827;
    margin-bottom: 10px;
}

.pricing-subtitle {
    text-align: center;
    font-size: 16px;
    color: #6b7280;
    margin-bottom: 60px;
}

.pricing-container {
    width: 82%;
    margin: auto;
    display: flex;
    gap: 25px;
}

.price-card {
    flex: 1;
    background-color: white;
    border: 1px solid #e5e7eb;
    border-radius: 10px;
    padding: 30px;
}

.price-card.active {
    background-color: #111827;
    color: white;
    border: none;
}

.plan {
    display: block;
    font-size: 12px;
    font-weight: bold;
    color: #6b7280;
    margin-bottom: 12px;
}

.price-card.active .plan {
    color: #9ca3af;
}

.price-card h3 {
    font-size: 42px;
    margin-bottom: 8px;
}

.person {
    color: #6b7280;
    margin-bottom: 25px;
}

.price-card.active .person {
    color: #d1d5db;
}

.price-card ul {
    padding-left: 18px;
    margin-bottom: 35px;
}

.price-card ul li {
    font-size: 15px;
    color: #4b5563;
    margin-bottom: 12px;
}

.price-card.active ul li {
    color: #e5e7eb;
}

.price-btn {
    display: block;
    text-align: center;
    text-decoration: none;
    padding: 14px;
    border: 1px solid #2f5be7;
    border-radius: 8px;
    color: #2f5be7;
    font-weight: 600;
}

.active-btn {
    background-color: #2f5be7;
    color: white;
    border: none;
}

.missing-section {
    width: 100%;
    background: #fff;
    padding: 80px 0 100px;
}

.missing-box {
    width: 82%;
    height: 350px;
    margin: 0 auto;
    background: #f4efff;
    border: 2px dashed #8b5cf6;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.missing-box h2 {
    font-size: 32px;
    color: #7c3aed;
    margin-bottom: 10px;
}

.missing-box p {
    font-size: 18px;
    color: #8b5cf6;
}

.footer {
    width: 100%;
    background: #101d2e;
    padding: 35px 0;
}

.footer-container {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-container p {
    color: #8b95a5;
    font-size: 16px;
}

.footer-links {
    display: flex;
    gap: 35px;
}

.footer-links a {
    text-decoration: none;
    color: #8b95a5;
    font-size: 16px;
}

.social-section{
    width: 100%;
    background: #fff;
    padding: 100px 0;
    text-align: center;
}

.social-section h2{
    font-size: 48px;
    color: #111827;
    margin-bottom: 15px;
}

.social-section p{
    font-size: 18px;
    color: #6b7280;
    margin-bottom: 40px;
}

.social-buttons{
    display: flex;
    justify-content: center;
    gap: 25px;
}

.social-buttons a{
    width: 70px;
    height: 70px;

    display: flex;
    justify-content: center;
    align-items: center;

    text-decoration: none;

    border-radius: 50%;

    color: white;
    font-size: 32px;
}

.facebook{
    background: #1877f2;
}

.linkedin{
    background: #0a66c2;
}